@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Give+You+Glory&family=Hachi+Maru+Pop&family=Leckerli+One&family=Pathway+Gothic+One&display=swap');
$ff-c: 'Give You Glory', cursive;
$ff-ss: 'Pathway Gothic One', sans-serif;
$ff-s: 'Cardo', serif;