---
layout: default
---

{{ content }}

{% if site[page.collection].size > 0 %}

    {% for recipe in site[page.collection] %}

        {% if recipe.category != "category-home" %}
            
            <div class="recipe-post">
                <a class="recipe__title" href="{{ recipe.url }}">{{ recipe.title }}</a>
                <p class="recipe__desc">
                    {{ recipe.short_description }}

                    <p style="text-align:center;">
                        <img src={{recipe.image}} 
                            alt={{recipe.title}} 
                            style="width:600px;height:450px;"
                        />
                    </p>

                </p>
            </div>

        {% endif %}
    {% endfor %}
{% endif %}

<!-- <h2>Most recent recipe</h2>
{{ content }}
<ul class="myrecipes">
    {% for recipe in site.page.collection limit:1 %}
    <div class="recipe-post">
        <a class="recipe__title" href="{{ recipe.url }}">{{ recipe.title }}</a>
        <p class="recipe__desc">
            {{ recipe.short_description }}
        </p>
        <a class="recipe__link" href="{{ recipe.url }}">Read More</a>
    </div>
    {% endfor %}
</ul>

<section class="older-recipes">
    <h2>Recipes</h2>
        {% for recipe in site.page.collection limit: 4 %}
        <div class="recipe-post">
            <a class="recipe__title" href="{{ recipe.url }}">{{ recipe.title }}</a>
            <p class="recipe__desc">
                {{ recipe.short_description }}
            </p>
            <a class="recipe__link" href="{{ recipe.url }}">Read More</a>
        </div>
        {% endfor %}
</section> -->
